###############################################################################
### University of Hawaii, College of Engineering
### Lab 4b - Octocat 2 - EE 205 - Spring 2024
###
### Tells git which files to ignore
###
### @see https://git-scm.com/docs/gitignore
###
### @file   .gitignore
### @author marknels@hawaii.edu
###############################################################################

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Ignore a hidden file for MacOS filesystems
.DS_Store

# Ignore vi swap files
.*.swp

# Ignore core dumps
core

# Old Octocat files
octocat.c

# Executables
*.exe
*.out
*.app
octocat
octocat2
